<div class="contenedor">
  <h1>Actualizar Usuario</h1>
  <div mat-dialog-content>

    <form #loginForm="ngForm" [formGroup]="formGroup">
      <mat-form-field class="form">
        <input matInput placeholder="Username" type="input" formControlName="username" />
        <mat-error class="invalid-feedback" *ngIf="username!.invalid && (username!.dirty|| username!.touched)">
          <div *ngIf="username!.errors?.['required']">
            Introduzca un nombre de usuario válido por favor
          </div>
          <div *ngIf="username!.errors && username!.errors?.['pattern']">
            El nombre de usuario no sigue el formato correcto. Sigue este ejemplo: @mikeangel7879
          </div>
          <div *ngIf="username!.errors?.['minlength']">
            Introduzca un nombre de usuario con 7 caracteres minimos
          </div>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="form">
        <input matInput placeholder="Email" type="email" formControlName="email" />
        <mat-error class="invalid-feedback" *ngIf="email!.invalid && (email!.dirty || email!.touched)">
          <div *ngIf="email!.errors?.['required']">
            Introduzca un correo electrónico válido por favor
          </div>
          <div *ngIf="email!.errors?.['email']">
            El correo electrónico no sigue el formato correcto. Sigue este ejemplo: pedro@gmail.com
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="form" appearance="fill">
        <mat-label>Roles</mat-label>
        <mat-select id="role" formControlName="role_id">
          <mat-option *ngFor="let cat of roles" [value]="cat.id">{{cat.name}}</mat-option>
        </mat-select>

        <mat-error class="invalid-feedback" *ngIf="role_id!.invalid && (role_id!.dirty || role_id!.touched)">
          <div *ngIf="role_id!.errors?.['required']">
            Seleccione un rol de usuario por favor
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form">
        <input matInput type="password" formControlName="password" placeholder="Password" />
        <mat-error class="invalid-feedback" *ngIf="password!.invalid && (password!.dirty || password!.touched)">
          <div *ngIf="password!.errors?.['minlength']">
            Introduzca una Contraseña con 8 Caracteres Minimo
          </div>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <br>
  <mat-checkbox [(ngModel)]="changePassword" class="example-margin">¿Cambiar contraseña?</mat-checkbox>
  <br>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"
      (click)="onSubmit()">Registrar</button>
  </div>
</div>