<div class="overlay" *ngIf="!load">
  <div class="spinner ">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="contenedor">
    <mat-card>
      <mat-card-content>
        <form #loginForm="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <br>
          <h1>Crear cuenta</h1>
          <br>
          
          <mat-form-field>
            <input matInput placeholder="Username" type="input" formControlName="username" />
            <mat-error class="invalid-feedback" *ngIf="username!.invalid && (username!.dirty|| username!.touched)">
              <div *ngIf="username!.errors?.['required']">
                Introduzca un nombre de usuario válido por favor
              </div>
              <div *ngIf="username!.errors && username!.errors?.['pattern']">
                El nombre de usuario no sigue el formato correcto. Sigue este ejemplo: @mikeangel7879
              </div>
              <div *ngIf="username!.errors?.['minlength']">
                Introduzca un nombre de usuario con 7 caracteres minimos
              </div>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" />
            <mat-error class="invalid-feedback" *ngIf="email!.invalid && (email!.dirty || email!.touched)">
              <div *ngIf="email!.errors?.['required']">
                Introduzca un correo electrónico válido por favor
              </div>
              <div *ngIf="email!.errors?.['email']">
                El correo electrónico no sigue el formato correcto. Sigue este ejemplo: pedro@gmail.com
              </div>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Password" /> 
            <mat-error class="invalid-feedback" *ngIf="password!.invalid && (password!.dirty || password!.touched)">
              <div *ngIf="password!.errors?.['minlength']">
                Introduzca una Contraseña con 8 Caracteres Minimo
              </div>
              <div *ngIf="password!.errors?.['required']">
                Introduzca una contraseña por favor
              </div>
            </mat-error>
          </mat-form-field>
          <br>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Registrate</button>
        </form>
        <br>
        <a href="/auth/login" class="registrate" >¿Ya tienes cuenta? Inicia sesión</a>
        <br><br>
      </mat-card-content>
    </mat-card>
  </div>