<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <a class="titulo" mat-button href="/main"> <mat-icon>home</mat-icon> INICIO</a>

  <div class="perfil">
    <button mat-button [matMenuTriggerFor]="usuario" >
      <mat-icon>account_circle </mat-icon>
      <span> Mi cuenta </span>
      <mat-icon *ngIf="!panelOpenState"> expand_more</mat-icon>
      <mat-icon *ngIf="panelOpenState"> expand_less</mat-icon>
    </button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item routerLink="profile" ><mat-icon>person</mat-icon>Perfil</button>
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <!-- <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
  
      <h4 class="name">{{user.username!}}</h4>
      <p class="designation">{{user.email!}}</p>
  
      <mat-divider></mat-divider> -->

      <mat-accordion>
        <mat-expansion-panel class="item" *ngFor="let categoria of categorias" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{categoria.icono!}}</mat-icon> {{categoria.nombre!}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <button mat-button *ngFor="let vista of categoria.vistas!" routerLink="{{ vista.ruta }}"><mat-icon>{{vista.icono!}}</mat-icon>&nbsp; {{vista.nombre}}</button>

          </div>
        </mat-expansion-panel>
      </mat-accordion> 
      
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>