.container{
    width:100%;
    /* background-color: aquamarine; */
    height: 100%;
}
.mat-elevation-z8{
    width: 100%;
}
mat-form-field{
    width: 25%;
}
.buscador{
    width: 100%;
    text-align: right;
}

.boton{
    width: 100%;
    text-align: left;
}
.filtro{
    width: 50%;
}