<div class="container">
  <h1>
    Tabla de vistas
  </h1>   
    
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile>
      <div class="boton">
        <button mat-raised-button (click)="openDialog()">Crear Vista</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="buscador">
        <button type="button" mat-raised-button class="btn btn-primary" (click)="exportExcel()"> <mat-icon>file_open</mat-icon> Exportar</button>
        &nbsp;&nbsp;
        
        <button type="button" mat-raised-button class="btn btn-primary" (click)="getVistas()"> <mat-icon>sync_alt</mat-icon> Refrescar</button>
        &nbsp;&nbsp;
        <mat-form-field class="filtro" appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Id: 1000" #input>
        </mat-form-field>
        <mat-icon>search</mat-icon>
        &nbsp;&nbsp;&nbsp;
      </div>
      </mat-grid-tile>
  </mat-grid-list>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="icono">
      <th mat-header-cell *matHeaderCellDef> Icono </th>
      <td mat-cell *matCellDef="let element"><mat-icon>{{element.icono}}</mat-icon> {{element.icono}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="ruta">
      <th mat-header-cell *matHeaderCellDef> Ruta </th>
      <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"><mat-icon>{{element.categoria.icono}}</mat-icon> {{element.categoria.nombre}} </td>
    </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [(ngModel)]="element.status" color="primary" (toggleChange)="toggleChange(element.id)">
            <p *ngIf="element.status">Activo</p>
            <p *ngIf="!element.status">Inactivo</p>
          </mat-slide-toggle>
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu  #menu="matMenu">
            <button (click)="actualizar(element)" mat-menu-item>
              <mat-icon>update</mat-icon>
              <span>Actualizar</span>
            </button>
          </mat-menu> 
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons 
              aria-label="Select page of periodic elements">
  </mat-paginator>
</div>