<div class="contenedor">
  <h1>CAMBIAR CONTRASEÑA</h1>
  <div mat-dialog-content>
    
    <form #loginForm="ngForm" [formGroup]="formGroup">
      
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" />
        <mat-error class="invalid-feedback" *ngIf="email!.invalid && (email!.dirty || email!.touched)">
          <div *ngIf="email!.errors?.['required']">
            Introduzca un correo electrónico válido por favor
          </div>
          <div *ngIf="email!.errors?.['email']">
            El correo electrónico no sigue el formato correcto. Sigue este ejemplo: pedro@gmail.com
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password" /> 
        <mat-error class="invalid-feedback" *ngIf="password!.invalid && (password!.dirty || password!.touched)">
          <div *ngIf="password!.errors?.['minlength']">
            Introduzca una Contraseña con 8 Caracteres Minimo
          </div>
          <div *ngIf="password!.errors?.['required']">
            Introduzca una contraseña por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
  </div>
</div>