<div class="container">
    <h1>
      Tabla de usuarios
    </h1> 
    <div class="buscador">
      <button type="button" mat-raised-button class="btn btn-primary" (click)="exportExcel()"> <mat-icon>file_open</mat-icon> Exportar</button>
      &nbsp;&nbsp;
      <button type="button" mat-raised-button class="btn btn-primary" (click)="getUsers()"> <mat-icon>sync_alt</mat-icon> Refrescar</button>
      &nbsp;&nbsp;
      <mat-form-field  appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Id: 1000" #input>
      </mat-form-field>
      <mat-icon>search</mat-icon>
      &nbsp;&nbsp;&nbsp;
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [(ngModel)]="element.status" color="primary" (toggleChange)="toggleChange(element.id)">
            <p *ngIf="element.status">Activo</p>
            <p *ngIf="!element.status">Inactivo</p>
          </mat-slide-toggle>
        </td>
      </ng-container>
    
      <!-- Weight Column -->

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu  #menu="matMenu">
              <button (click)="actualizar(element)" mat-menu-item>
              <mat-icon>update</mat-icon>
              <span>Actualizar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>