<mat-expansion-panel class="item" *ngFor="let categoria of categoriasTotales" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>{{categoria.icono!}}</mat-icon> {{categoria.nombre!}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <mat-selection-list #views>
            <mat-list-option *ngFor="let vista of categoria.vistas!" [(selected)]="vista.selected">
                <p>
                    <mat-icon>{{vista.icono!}}</mat-icon>&nbsp; {{vista.nombre}}
                </p>
            </mat-list-option>
        </mat-selection-list>
          
    </div>
</mat-expansion-panel>
<!-- <mat-selection-list #views>
    <mat-list-option *ngFor="let vista of vistasSeleccionadas" [(selected)]="vista.selected">
        <p>
            <mat-icon>{{vista.icono!}}</mat-icon>&nbsp; {{vista.nombre}}
        </p>
    </mat-list-option>
</mat-selection-list> -->
<br>

<button class="boton" mat-raised-button color="primary" (click)="onSubmit()"> Guardar </button>