<div class="container">
    <h1>Nombre de usuario: {{user.username!}} </h1>
    <h1>Email: {{user.email!}} </h1>
    <button mat-raised-button (click)="openDialog()"> Cambiar contraseña </button>
</div>