.container{
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
    position: relative;
}

/* .image{
    background-color:black;
    height: 50%;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50, -50%);
    -webkit-transform: translate(-50%, -50%);
} */
