<div class="contenedor">

  <h1 *ngIf="data.function == 'create'">Crear una vista</h1>
  <h1 *ngIf="data.function == 'update'">Actualizar</h1>
  <div mat-dialog-content>

    <form #loginForm="ngForm" [formGroup]="formGroup">
      <mat-form-field class="form">
        <input matInput type="text" id="nombre" name="nombre" formControlName="nombre" placeholder="Nombre de vista" />
        <mat-error class="invalid-feedback" *ngIf="nombre!.invalid && (nombre!.dirty || nombre!.touched)">
          <div *ngIf="nombre!.errors?.['minlength']">
            Introduzca un nombre con 3 Caracteres Minimo
          </div>
          <div *ngIf="nombre!.errors?.['required']">
            Introduzca un nombre para la vista por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="form">
        <input matInput type="text" id="icono" name="icono" formControlName="icono" placeholder="Nombre del icono"/>
        <mat-icon matSuffix>{{icono!.value}}</mat-icon>
        <mat-error class="invalid-feedback" *ngIf="icono!.invalid && (icono!.dirty || icono!.touched)">
          <div *ngIf="icono!.errors?.['minlength']">
            Introduzca un nombre del icono con 3 Caracteres Minimo
          </div>
          <div *ngIf="icono!.errors?.['required']">
            Introduzca un nombre del icono para la vista por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="form">
        <input matInput type="text" id="ruta" name="ruta" formControlName="ruta" placeholder="Ruta" />
        <mat-error class="invalid-feedback" *ngIf="icono!.invalid && (ruta!.dirty || ruta!.touched)">
          <div *ngIf="ruta!.errors?.['minlength']">
            Introduzca un nombre de la ruta con 3 Caracteres Minimo
          </div>
          <div *ngIf="ruta!.errors?.['required']">
            Introduzca un nombre de la ruta para la vista por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>

      <mat-form-field class="form">
        <input matInput type="text" id="nivel" name="nivel" formControlName="nivel" placeholder="Nivel" />
        <mat-error class="invalid-feedback" *ngIf="nivel!.invalid && (nivel!.dirty || nivel!.touched)">
          <div *ngIf="nivel!.errors?.['required']">
            Introduzca un nombre del nivel para la vista por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>

      <mat-form-field class="form" appearance="fill">
        <mat-label>Categorias</mat-label>
        <mat-select id="categoria" formControlName="categoria_id">
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</mat-option>
        </mat-select>

        <mat-error class="invalid-feedback"
          *ngIf="categoria_id!.invalid && (categoria_id!.dirty || categoria_id!.touched)">
          <div *ngIf="categoria_id!.errors?.['required']">
            Seleccione una categoria por favor
          </div>
        </mat-error>
      </mat-form-field>
      <br><br>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid"
      (click)="onSubmit()">Registrar</button>
  </div>
</div>